// Fonts
$font-abel: 'Abel', sans-serif;
$font-inter: 'Inter', sans-serif;

// Colors
$bg-post: rgba(217, 217, 217, 0.6);
$bg-post-light: rgba(217, 217, 217, 0.14);
$text-white: #fff;
$text-black: #333;

// Images
$bg-img-home-desk: url('../assets/BG-IMAGE-DESKTOP.png');
$bg-img-home-mob: url('../assets/BG-IMAGE-Mobile.png');
$bg-sect-mob: url('../assets/bg-sect-mobile.png');
$bg-sect-desk: url('../assets/bg-sect-desk.png');
$bg-post-desk: url('../assets/Post-Background-Desktop.png');
$bg-post-mob: url('../assets/Post-Background-Mobile.png');
$logo: url('../assets/logo-dark.svg');